<h1><%= @word.word %>  <%= @word.word_id %>:</h1>

<div class="row">
  <div class="col-md-6">

    <% @word.definitions.each_with_index do |definition, index| %>
    <ul>

      <li id="<%= index %>"> <a href = "/definition/<%= @word.word_id %>/<%= index %>">X</a> Definition <%= (index+1) %> : <%= definition %></li>

    </ul>
    <% end %>

  </div>

</div>
  <form action="/definition/<%= @word.word_id %>" method="post">
    New Definition:<br>
    <input type="text" name="definition" value="">
    <br>
    <input type="submit" value="Submit">
  </form>

  <a href = "/">Return to Main Page.</a>
