<h1><%= @word.word %></h1>

<div class="row">
  <div class="col-md-6">
    <h3>Definitions:</h3>
    <ul>
    <% @word.definitions.each_with_index do |definition, index| %>

      <li id="<%= index %>"> <a href = "/definition/<%= @word.word_id %>/<%= index %>">[delete]</a> <%= (index+1) %> - <%= definition %></li>

    <% end %>
    </ul>

  </div>

</div>
  <form action="/definition/<%= @word.word_id %>" method="post">
    New Definition:<br>
    <input type="text" name="definition" value="">
    <br>
    <input type="submit" value="Submit">
  </form>

  <a href = "/">Kidtionary Home</a>
